<a href="https://colab.research.google.com/github/jinwook-kim0/dt-training/blob/main/%ED%83%90%EC%83%89%EC%A0%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
import matplotlib as mpl
import matplotlib.pyplot as plt
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
path = 'drive/MyDrive/Colab Notebooks/'
import pandas as pd

In [74]:
train_sensors = pd.read_csv(f'{path}train_sensor.csv')
train_values = pd.read_csv(f'{path}train_quality.csv')

In [75]:
# Parameter 갯수

len(train_sensors.param_alias.unique())

95

In [76]:
# Wafer 갯수 
len(train_sensors.key_val.unique())

611

In [77]:
train_sensors['end_time'] = pd.to_datetime(train_sensors['end_time'])

In [78]:
tdf = train_sensors
tdf['step_id'] = tdf['step_id'].apply(lambda x: str(x).zfill(2))

In [79]:
tdf['param_alias'] = tdf[['param_alias', 'step_id']].apply(lambda x: f"{x['step_id']}_{x['param_alias']}", axis=1)

In [80]:
tdpv = tdf.pivot_table(index=['module_name', 'key_val'], columns=['param_alias'], values='mean_val', aggfunc='sum')

In [81]:
tdpv.head(5)

param_alias            04_EFEM_para2  04_EFEM_para25  04_EFEM_para78  \
module_name key_val
EQ10_PM1    LOT124_21       1627.636        1638.818        5.140073
            LOT126_21       1627.971        1641.118        5.023404
            LOT191_17       1627.182        1637.000        5.042702
            LOT23_21        1631.059        1643.882        5.153204
            LOT243_21       1627.750        1637.312        5.147788

param_alias            04_EPD_para4  04_EPD_para40  04_EPD_para63  \
module_name key_val
EQ10_PM1    LOT124_21           0.0            0.0            0.0
            LOT126_21           0.0            0.0            0.0
            LOT191_17           0.0            0.0            0.0
            LOT23_21            0.0            0.0            0.0
            LOT243_21           0.0            0.0            0.0

param_alias            04_EPD_para80  04_ESC_para84  04_ESC_para94  \
module_name key_val
EQ10_PM1    LOT124_21            0.0         2999.0            0.0
            LOT126_21            0.0         2999.0            0.0
            LOT191_17            0.0         2999.0            0.0
            LOT23_21             0.0         2999.0            0.0
            LOT243_21            0.0         2999.0            0.0

param_alias            04_FR_para28  ...  20_TIME_para7  20_TIME_para75  \
module_name key_val                  ...
EQ10_PM1    LOT124_21     -2999.000  ...       458.3667        2786.450
            LOT126_21     -2999.000  ...       166.2667        2494.350
            LOT191_17     -2999.000  ...       515.9500        2844.033
            LOT23_21      -2999.000  ...       190.2833        2518.367
            LOT243_21     -2999.069  ...       567.1334        2895.217

param_alias            20_TIME_para77  20_TIME_para8  20_TIME_para81  \
module_name key_val
EQ10_PM1    LOT124_21        2786.450       458.3667        2786.450
            LOT126_21        2494.350       166.2667        2494.350
            LOT191_17        2844.033       515.9500        2844.033
            LOT23_21         2518.367       190.2833        2518.367
            LOT243_21        2895.217       567.1334        2895.217

param_alias            20_TIME_para83  20_TIME_para89  20_TIME_para9  \
module_name key_val
EQ10_PM1    LOT124_21        458.3667        2786.450       458.3667
            LOT126_21        166.2667        2494.350       166.2667
            LOT191_17        515.9500        2844.033       515.9500
            LOT23_21         190.2833        2518.367       190.2833
            LOT243_21        567.1334        2895.217       567.1334

param_alias            20_TIME_para90  20_TMP_para31
module_name key_val
EQ10_PM1    LOT124_21        2786.450       3.432500
            LOT126_21        2494.350       3.411500
            LOT191_17        2844.033       3.436816
            LOT23_21         2518.367       3.413965
            LOT243_21        2895.217       3.445387

[5 rows x 665 columns]

In [82]:
train_values

       key_val   msure_val            end_dt_tm
0      LOT1_21  1281.14148  2021-10-11 21:00:17
1      LOT2_04  1271.26772  2021-10-12 01:23:50
2      LOT3_18  1252.67080  2021-10-16 10:35:24
3      LOT4_19  1263.69848  2021-10-15 12:05:20
4      LOT5_21  1260.08920  2021-10-03 07:10:22
..         ...         ...                  ...
606  LOT374_18  1266.62464  2021-10-15 10:13:14
607  LOT465_19  1267.84300  2021-10-13 10:15:15
608  LOT363_20  1276.66772  2021-10-08 10:28:12
609  LOT466_18  1255.57544  2021-10-03 12:14:14
610  LOT467_19  1264.50160  2021-10-06 07:26:13

[611 rows x 3 columns]

In [83]:
tt = tdf.copy()

In [87]:
tt['timename'] = tt.apply(lambda x: f"{x['step_id']}_end_time", axis=1)

In [92]:
ttpv = tt.pivot_table(index=['module_name', 'key_val'], columns=['timename'], values='end_time', aggfunc=lambda x: max(x.unique()))

In [99]:
tdpv = tdpv.reset_index().set_index('key_val')

In [100]:
ttpv = ttpv.reset_index().set_index('key_val')

In [101]:
tdpv.head(5)

param_alias,module_name,04_EFEM_para2,04_EFEM_para25,04_EFEM_para78,04_EPD_para4,04_EPD_para40,04_EPD_para63,04_EPD_para80,04_ESC_para84,04_ESC_para94,...,20_TIME_para7,20_TIME_para75,20_TIME_para77,20_TIME_para8,20_TIME_para81,20_TIME_para83,20_TIME_para89,20_TIME_para9,20_TIME_para90,20_TMP_para31
key_val,,,,,,,,,,,,,,,,,,,,,
LOT124_21,EQ10_PM1,1627.636,1638.818,5.140073,0.0,0.0,0.0,0.0,2999.0,0.0,...,458.3667,2786.450,2786.450,458.3667,2786.450,458.3667,2786.450,458.3667,2786.450,3.432500
LOT126_21,EQ10_PM1,1627.971,1641.118,5.023404,0.0,0.0,0.0,0.0,2999.0,0.0,...,166.2667,2494.350,2494.350,166.2667,2494.350,166.2667,2494.350,166.2667,2494.350,3.411500
LOT191_17,EQ10_PM1,1627.182,1637.000,5.042702,0.0,0.0,0.0,0.0,2999.0,0.0,...,515.9500,2844.033,2844.033,515.9500,2844.033,515.9500,2844.033,515.9500,2844.033,3.436816
LOT23_21,EQ10_PM1,1631.059,1643.882,5.153204,0.0,0.0,0.0,0.0,2999.0,0.0,...,190.2833,2518.367,2518.367,190.2833,2518.367,190.2833,2518.367,190.2833,2518.367,3.413965
LOT243_21,EQ10_PM1,1627.750,1637.312,5.147788,0.0,0.0,0.0,0.0,2999.0,0.0,...,567.1334,2895.217,2895.217,567.1334,2895.217,567.1334,2895.217,567.1334,2895.217,3.445387

In [102]:
ttpv.head(5)

timename,module_name,04_end_time,06_end_time,12_end_time,13_end_time,17_end_time,18_end_time,20_end_time
key_val,,,,,,,,
LOT124_21,EQ10_PM1,2021-10-18 11:00:06,2021-10-18 11:02:32,2021-10-18 11:16:38,2021-10-18 11:16:54,2021-10-18 11:24:51,2021-10-18 11:25:07,2021-10-18 11:31:58
LOT126_21,EQ10_PM1,2021-10-04 11:09:20,2021-10-04 11:11:45,2021-10-04 11:25:52,2021-10-04 11:26:08,2021-10-04 11:34:05,2021-10-04 11:34:21,2021-10-04 11:41:12
LOT191_17,EQ10_PM1,2021-10-21 08:25:57,2021-10-21 08:28:23,2021-10-21 08:42:29,2021-10-21 08:42:45,2021-10-21 08:50:41,2021-10-21 08:50:57,2021-10-21 08:57:48
LOT23_21,EQ10_PM1,2021-10-05 14:23:05,2021-10-05 14:25:30,2021-10-05 14:39:38,2021-10-05 14:39:54,2021-10-05 14:47:50,2021-10-05 14:48:06,2021-10-05 14:54:57
LOT243_21,EQ10_PM1,2021-10-23 16:20:49,2021-10-23 16:22:54,2021-10-23 16:36:14,2021-10-23 16:36:30,2021-10-23 16:44:27,2021-10-23 16:44:43,2021-10-23 16:51:33

In [106]:
tv = train_values.reset_index().set_index('key_val')

In [111]:
del tv['index']

In [114]:
df = pd.concat([tdpv, tv, ttpv], axis=1)

In [118]:
df.columns

IndexError: ignored